.movieInfo_container {
  display: grid;

  gap: 15px;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.buttonFav,
.addCommentBtn {
  text-transform: capitalize;

  align-items: center;

  background-color: #fff;
  border-radius: 24px;
  border-style: none;

  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
  height: 48px;

  overflow: visible;
  padding: 2px 24px;

  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.comment_container {
  display: grid;
}
.movie_wrapper {
  padding: 15px;
}
.commentGrid_container {
  display: grid;
}
.commentDisplay_container {
  overflow: scroll;
  background-color: white;
}
.btns_container button {
  cursor: pointer;
}
.ratingAndComm_container {
  display: grid;
}
.buttonAndRating_container {
  display: grid;
}
@media (min-width: 320px) {
  .movieInfo_container {
    margin: auto;
  }
  .comment_container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .comment_container button {
    width: 50%;

    padding: 10px;
  }
  .comment_container textarea {
    padding: 20px;
  }
  .commentDisplay_container {
    width: 100%;
    height: 300px;
  }
  .commentGrid_container {
    grid-template-columns: 1fr;

    gap: 50px;
  }
  .profileComment {
    padding: 10px;

    border: 1px solid black;
    border-radius: 10px;
  }
  .buttonAndRating_container {
    grid-template-columns: 1fr 1fr;
  }
  .buttonAndRating_container button {
    width: 90%;
  }
  .img_container img {
    display: flex;
    margin: auto;

    width: 60%;
  }

  .buttonFav {
    border: 2px solid red;
  }

  .btns_container {
    padding: 25px;

    justify-self: center;
  }
}
.ulNav_container {
  display: flex;
  flex-direction: column;

  padding-left: 0;

  gap: 15px;

  margin: auto;

  text-align: center;
}
@media (min-width: 700px) {
  .ulNav_container {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }
  .leftMenu_wrapper {
    display: flex;
    flex-direction: row;

    margin: auto;

    gap: 20px;
  }
  .img_container img {
    display: flex;
    margin: auto;

    width: 50%;
  }
}

@media (min-width: 1200px) {
  .img_container img {
    width: 100%;
  }
  .movie_wrapper {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;

    justify-content: center;

    padding: 20px;
  }
  .movie_wrapper img {
    justify-self: center;
  }
  .buttonFav:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  }
  .addCommentBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  }
  .btns_container {
    padding: 10px 0;

    margin: auto;
  }
  .buttonFav:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
      0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }

  .buttonAndRating_container button {
    width: 50%;
  }
  .img_container img {
    width: 100%;
    height: 100%;
  }
  .movieInfo_container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .movie_wrapper {
    padding: 0 100px;
  }
}
